<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="Your App Name">
        <Require feature="rpc"/>
        <Require feature="views"/>
    </ModulePrefs>

    <Content type="html">
        <![CDATA[
            <!DOCTYPE html>
            <html>
                <head>
                    <meta charset="utf-8">

                    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
                    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
                    <script>
                        'use strict';

                        var postHangoutId = function(lessonId, hangoutId) {
                            var ajax = new XMLHttpRequest();

                            ajax.open('POST', 'http://192.168.0.101:8080/api/lessons/' + lessonId + '/hangouts');
                            ajax.setRequestHeader('Content-type', 'application/json');
                            ajax.send('{"hangouts_id": "' + hangoutId + '"}');
                        };

                        gapi.hangout.onApiReady.add(function(event){
                            event.isApiReady && postHangoutId(gapi.hangout.getStartData(), gapi.hangout.getHangoutUrl().split('/').pop());
                        });
                    </script>
                </head>

                <body>
                    <h1>Hello Plunker!</h1>
                </body>
            </html>
        ]]>
    </Content>
</Module>
