<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="Your App Name">
        <Require feature="rpc"/>
        <Require feature="views"/>
    </ModulePrefs>

    <Content type="html">
        <![CDATA[
            <!DOCTYPE html>
            <html>
                <head>
                    <meta charset="utf-8">

                    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
                    <script>
                        'use strict';

                        gapi.hangout.onApiReady.add(function(event){
event.isApiReady && console.log(gapi.hangout.getHangoutId());
                        });
                    </script>
                </head>

                <body>
                    <h1>Hello Plunker!</h1>
                </body>
            </html>
        ]]>
    </Content>
</Module>
