<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="Your App Name">
        <Require feature="rpc"/>
        <Require feature="views"/>
    </ModulePrefs>

    <Content type="html">
        <![CDATA[
            <!DOCTYPE html>
            <html>
                <head>
                    <meta charset="utf-8">

                    <style>
                        body {
                            color: #fff;
                            background: #112c36;
                        }
                        
                        header {
                            height: 100px;
                            text-align: center;
                            background: #073648;
                        }
                        
                        header > img {
                            height: 100px;
                        }
                        
                        div {
                            display: none;
                        }
                    </style>

                    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
                    <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
                    <script>
                        'use strict';

                        var postHangoutId = function(lessonId, hangoutId) {
                            var ajax = new XMLHttpRequest();

                            ajax.open('POST', 'http://192.168.0.101:8080/api/lessons/' + lessonId + '/hangouts');
                            ajax.setRequestHeader('Content-type', 'application/json');
                            ajax.send('{"hangouts_id": "' + hangoutId + '"}');
                        };

                        gapi.hangout.onApiReady.add(function(event){
                            if (event.isApiReady) {
                                postHangoutId(gapi.hangout.getStartData(), gapi.hangout.getHangoutUrl().split('/').pop());
                                
                                if (1 === gapi.hangout.getParticipants().length) {
                                    $('.mentee-instructions').show();
                                } else {
                                    $('.mentor-instructions').show();
                                }
                            }
                        });
                    </script>
                </head>

                <body>
                    <header>
                        <img src="http://192.168.0.101:8080/d/images/logos/logo-with-icon-laptop.png">
                    </header>
                    <h1>Instructions</h1>
                    <div class="mentee-instructions">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentee-step-1.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentee-step-2.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentee-step-3.png">
                    </div>
                    <div class="mentor-instructions">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-1.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-2.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-3.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-4.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-5.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-6.png">
                        <img src="http://192.168.0.101:8080/d/images/google-hangouts-app/mentor-step-7.png">
                    </div>
                </body>
            </html>
        ]]>
    </Content>
</Module>
